<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") -%>
  </head>
  <body>
    <div class="content">
      <aside class="sidebar"><%- include("../partials/sidebar") -%></aside>
      <main>
        <%- include("../partials/title") -%>

        <h5 class="general-info">General info</h5>
        <p class="sub-info">The inventory currently has the following counts</p>
        <ul class="info">
          <li>Items: <%= data.item_count %> </li>
          <li>Categories: <%= data.category_count %> </li>
        </ul>
      </main>
    </div>
  </body>
</html>
